absl-py==2.3.0
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
Authlib==1.6.0
avro==1.12.0
azure-core==1.34.0
azure-identity==1.23.0
azure-keyvault-keys==4.10.0
babel==2.17.0
backoff==1.11.1
bazel_runfiles==1.4.1
boto3==1.38.31
botocore==1.38.31
cachetools==5.5.2
cel-python==0.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
confluent-kafka==2.10.0
coverage==7.8.2
cryptography==45.0.3
docutils==0.21.2
Faker==37.3.0
fastapi==0.115.12
fastavro==1.11.1
flake8==7.2.0
google-api-core==2.25.0
google-auth==2.40.3
google-cloud-kms==3.5.1
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.72.1
grpcio-status==1.72.1
h11==0.16.0
hkdf==0.0.3
httpcore==1.0.9
httpx==0.28.1
hvac==2.3.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
iniconfig==2.1.0
isodate==0.7.2
Jinja2==3.1.6
jmespath==1.0.1
jsonata-python==0.5.3
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lark==0.12.0
MarkupSafe==3.0.2
mccabe==0.7.0
msal==1.32.3
msal-extensions==1.3.1
opentelemetry-api==1.34.0
opentelemetry-distro==0.55b0
opentelemetry-exporter-otlp==1.11.1
opentelemetry-exporter-otlp-proto-grpc==1.11.1
opentelemetry-exporter-otlp-proto-http==1.11.1
opentelemetry-instrumentation==0.55b0
opentelemetry-proto==1.11.1
opentelemetry-sdk==1.34.0
opentelemetry-semantic-conventions==0.55b0
orjson==3.10.18
packaging==25.0
pendulum==3.1.0
pluggy==1.6.0
proto-plus==1.26.1
protobuf==6.31.1
psutil==7.0.0
psycopg==3.2.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pyflakes==3.3.2
Pygments==2.19.1
PyJWT==2.10.1
pyrsistent==0.20.0
pytest==8.4.0
pytest-cov==6.1.1
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
requests-mock==1.12.1
respx==0.22.0
roman-numerals-py==3.1.0
rpds-py==0.25.1
rsa==4.9.1
s3transfer==0.13.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==0.46.2
tink==1.12.0
types-PyYAML==6.0.12.20250516
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.3
wrapt==1.17.2
zipp==3.22.0
